language: java

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

install:
  - chmod +x install.sh
  - ./install.sh

script:
  - mvn clean install

after_success:
  - mvn clean test jacoco:report coveralls:report