<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>STAMP-DSpot Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        .nav-item {
            font-size: 100%;
        }

        .navbar {
            padding-top: 0;
            padding-bottom: 0;
        }

        .navbar-light .navbar-brand {
            color: #ffffff;
        }

        .nav-link:hover {
            background-color: #0366cf;
            opacity: 1;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark align-items-left">
        <a class="navbar-brand" href="/">Dspot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repos"><i class="fas fa-archive"></i> Repos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg-white">
        <div class="container" style="padding-top:5%;padding-bottom:10%">
            <div class="row" ng-app="repoInfoApp" ng-controller="repoInfoCtr">
                <div class="col-md-12" ng-cloak>
                    <h2>Data over a period</h2>
                    <ul class="nav nav-tabs">
                      <li class="nav-item" >
                        <button class="btn" ng-class="{'btn-primary': showPitMutant}" ng-click="switchTab()" ng-disabled="showPitMutant">PitmutantScoreSelector</button>
                      </li>
                      <li class="nav-item">
                        <button class="btn" ng-class="{'btn-primary': !showPitMutant}" ng-click="switchTab()" ng-disabled="!showPitMutant">JacocoCoverageSelector</button>
                      </li>
                    </ul>
                    <div class="align-items-left" ng-cloak ng-show="showPitMutant">
                        <canvas id="pitMutantLineGraph"></canvas>
                        {{addLineGraphForPitMutant("pitMutantLineGraph",pitmutantLineData,lineNameLabels,lineColors,datePitMutant)}}
                    </div>
                    <div class="align-items-left" ng-cloak ng-show="!showPitMutant">
                        <canvas id="jacocoCovLineGraph"></canvas>
                        {{addLineGraphForJacoco("jacocoCovLineGraph",jacocoLineData,dateJacoco,'(totalAmpCoverage - totalInitialCoverage) / totalInitialCoverage (%)',"#007bff")}}
                    </div>
                </div>
                <h2>Most recent amplication details</h2>
                <div class="row" ng-cloak>
                    <div class="col-md-6 justify-content-center">
                        <h4>Overall details</h4><br />
                        <canvas id="repoPieGraph" ng-cloak></canvas>
                        {{addDonutGraph("repoPieGraph",mostRecentData,mostRecentSelector,donutLabel,donutLabelColor)}}
                        {{ngGridFIx()}}
                    </div>
                    <div class="col-md-6 justify-content-center">
                        <h4>Data over all tests in </h4><br/>
                        <canvas id="repoBarGraph" ng-cloak></canvas>
                        {{addBarGraph("repoBarGraph",datasets,barLabels)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/public/javascripts/reposTemplate.js"></script>

</html>