name: DSpot - Prettifier CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install Bottleneck tensorflow keras
      - name: Build with Maven
        run: mvn install -DskipTests
      - name: Test with Maven
        run: cd dspot-prettifier && mvn test -DdoIntegrationTests=true -Dorg.slf4j.simpleLogger.defaultLogLevel=error
